*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

h1{
    text-align: center;
    margin-top: 1%;
    padding-bottom: 0.2%;
    border-bottom: 2px dotted #000;
}

form{
    margin-top: 2%;
}

.form-detail{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.form-detail label{
    width: 200px;
}

.form-detail input{
    width: 35%;
    height: 25px;
    padding-inline: 5px;
    color: #000;
    font-weight: bold;
}

h3{
    margin-top: 4%;
    margin-left: 25.1%;
}

#btn{
    margin-left: 35%;
    margin-top: 2%;
    width: 25%;
    padding-block: 10px;
    letter-spacing: 1px;
    border-radius: 10px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #000;
    padding-block: 7.5px;
    padding-inline: 10px;
    border-radius: 10px;
    border: 2px solid #000000;
    margin-left: 10px;
    background-color: #F0F0F0;
    letter-spacing: 1px;
}


@media screen and (max-width:768px) {
    h3{
        margin-left: 19%;
    }
    h1{
        font-size: 27px;
    }
}

@media screen and  (max-width:468px) {
    h3{
        margin-left: 11%;
        font-size: 16px;
        margin-top: 45px;
        margin-bottom: 6px;
    }
    h1{
        font-size: 19px;
        margin-bottom: 30px;
    }
    #btn{
        margin-left: 26%;
        font-size: 10px;
        letter-spacing: 0px;
        margin-top: 5%;
    }
    a{
        padding-block: 9.5px;
        font-size: 10px;
        border: 1ppx solid #000;
        margin-top: 5%;
    }
    .form-detail > label{
        font-size: 14px;
    }
    .form-detail > input {
        height: 20px;
    }
}


@media screen and (max-width:368px) {
    h3{
        margin-left: 1%;
    }
    #btn{
        font-size: 10px;
        word-wrap: break-word;
        width: 32%;
        margin-left: 24%;
    }
}

@media screen and (max-width:500px) {
    h1{
        font-size: 21px;
        padding-bottom: 9px;
    }    
    h3{
        font-size: 16px;
        margin-left: 13%;
        margin-top: 5.5%;
    }
    .form-detail > label{
        font-size: 13px;
    }
    form {
        margin-top: 5%;
    }
    .form-detail{
        margin: 4.5px;
    }
    .form-detail > input{
        height: 20px;
    }
    input[type = "text"],input[type = "number"]{
        font-size: 11px;
    }
    #btn{
        font-size: 11px;
        width: 30%;
        margin-left: 22%;
        margin-top: 7%;
    }
    a{
        font-size: 12px;
        padding-block: 9px;
    }
}

@media screen and (min-width:501px) and (max-width:730px) {
    h3{
        margin-left: 18.5%;
    }
}

@media screen and (max-width:640px) {
    h3{
        margin-left: 17%;
        font-size: 18px;
    }
    h1{
        font-size: 22px;
    }
    #btn{
        font-size: 11px;
        margin-top: 4%;
        margin-left: 30%;
    }
    a{
        font-size: 11px;
        margin-top: 4%;
    }
    form{
        margin-top: 3%;
    }
    .form-detail{
        margin: 4px;
    }
}

@media screen and (max-width:610px) {
    h3{
        margin-left: 16.5%;
    }
}

@media screen and (max-width:540px) {
    h3{
        margin-left: 14.5%;
    }
    #btn{
        letter-spacing: 0px;
    }
    a{
        padding-block: 8px;
    }
}